<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Live Location Tracker
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" 
        routerLinkActive="active">Sign up <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="!this.service.isLoggedin()">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Sign in</a>
      </li>
      <li class="nav-item" *ngIf="this.service.isLoggedin()">
          <a routerLink="/login" (click)="signOut()" class="nav-link" 
          routerLinkActive="active">Sign out</a>
      </li>
    </ul>
  </div>
</nav>